@import '@urielgaraje/gdi-ui-tokens/tokens.css';
@import '@fontsource-variable/inter';

body {
  font-family: 'Inter Variable', sans-serif;
  color: var(--color-base-black);
  background-color: var(--color-gray-200);
}
