@import './themes/default-theme.css';
@import '@fontsource-variable/inter';

body {
  font-family: 'Inter Variable', sans-serif;
  color: var(--color-base-black);
  background-color: var(--color-gray-200);
}
